extends ../layout

block title
  title Login to linx

block content
  .columns.is-narrow-desktop
    .column.is-half.is-offset-one-quarter
      .card.is-fullwidth
        .card-content
          .content
            each m in errors
              .notification.is-danger
                button.delete
                = m.msg
            h1.text-center Login!
            form(action='/login' method='POST')
              p.control
                label.label(for='email') Email Address
                input.input(name='email')
              p.control
                label.label(for='password') Password
                input.input(name='password' type='password')
              button.button.is-primary(type='submit') Login
              br.is-half
              br
              .columns.has-text-centered
                .column
                  a.notification.button.is-info(href="/auth/facebook") Login using Facebook
                .column
                  a.button.is-primary.is-outlined(href="/auth/office") Login using Office365
