extends ../layout

block title
  title Login to linx

block content
  .columns.is-narrow-desktop
    .column.is-half.is-offset-one-quarter
      .card.is-fullwidth
        .card-content
          .content
            each m in errors
              .notification.is-danger
                button.delete
                = m.msg
            h1.text-center Login!
            form(action='/login' method='POST')
              //- p.control
              //-   input.input(name='email',placeholder='Email')
              //-   label.label(for='email') Email
              //- p.control
              //-   input.input(name='password' type='password', placeholder='Password')
              //-   label.label(for='password') Password
              //- .column.has-text-centered
              //-   button.button.is-primary.is-large(type='submit') Login
              //- .column.has-text-centered
              //-   p
              //-     | New user?
              //-     a.button.is-primary(href='/register') Register
              //- br
              .columns.has-text-centered
                //- .column
                //-   a.notification.button.is-info(href="/auth/facebook") Login using Facebook
                .column
                  a.notification.button.is-primary.is-outlined(href="/auth/office") Login using Office365
