extends ../layout

block title
  title Register | linx

block content
  .columns
    .column.is-half.is-offset-one-quarter
      .card.is-fullwidth
        .card-content
          .content
            each m in errors
              .notification.is-danger
                button.delete
                = m
            h1.text-center Register
            form(action='/register' method='POST')
              p.control
                input.input(type='text', name='name', placeholder='Name',required)
                label.label Name
              p.control
                input.input(type='text', name='username', placeholder='Username', pattern="Hello|Can",required, autofocus)
                label.label Username
              p.control
                input.input(type='password', name='password', placeholder='Password', required)
                label.label Password
              p.control
                input.input(type='email', name='email', placeholder='Email',required)
                label.label Email
              p.control
                button.button.is-primary(type='submit') Login
              span.clearfix
