extends ../layout

block stylesheets
  link(rel='stylesheet' href='//cdn.quilljs.com/1.1.0/quill.snow.css' type='text/css')

block content
  .columns.is-narrow-desktop
    .column.is-half.is-offset-one-quarter
      .box
        h1.title Submit a new Story
        each m in errors
          .notification.is-danger
            button.delete
            = m.msg
        form(action='/submit' method='POST')
          p.control
            input.input(name='title', type='text', placeholder='This is a title')
            label.label(for='title') Title
          p.control
            input.input(name='url' type='text', placeholder='http://...')
            label.label(for='url') URL
          p.control
            label.label(for="text") Text
            input(name="text" type="hidden")
            #editor-container
            br
          button.button.is-primary(type='submit') Submit
          br
          br
          p
            |  Leave URL blank to submit a question for discussion.
            br
            | If there is no URL, the text (if any) will appear at the top of the thread.

block scripts
  script(src='//cdn.quilljs.com/1.1.0/quill.js')
  script(src='/public/js/editor.js')
