doctype html
html(lang='en')
  head
    title Exclamations!
    link(rel='stylesheet' href='public/bulma.css')

    style.
      h1 {
        margin-bottom: 20px;
      }
  body
    .columns
      .column.is-half.is-offset-one-quarter
        .card.is-fullwidth
          .card-content
            .content
              each m in message
                .notification.is-danger
                  button.delete
                  = m
              h1.text-center Login!
              form(action='/login' method='POST')
                p.control
                  label.label(for='username') Email Address
                  input.input(name='username')
                p.control
                  label.label(for='password') Password
                  input.input(name='password' type='password')
                button.button.is-primary(type='submit') Login
