doctype html
html(lang='en')
  head
    block title
      title= title + ' | linX'
    link(rel='stylesheet' href='/public/bulma.css')
    link(rel='stylesheet' href='/public/custom.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    style.
      h1 {
        margin-bottom: 20px;
      }
  body
    nav.nav.has-shadow
      .container
        .nav-left
          a.nav-item.is-brand(href="/")
            p.title linX
          span.nav-item
            a.button.is-primary.is-outlined(href="/submit") New Story
        .nav-right.nav-menu
          if(req.user)
            block user
            a.nav-item(href="/account")= req.user.username
            a.nav-item(href="/logout") Logout
          else
            a.nav-item(href="/login") Login/Register
    br
    .container
      block content
    footer.footer
      .container
        .content.has-text-centered
          p
            strong='linX '
            | is an experiment to build a vibrant community of developers and designers based out of colleges in India.
            br
            br
            | &copy; 2016 &nbsp;
            a(href='http://arko.koley.me') Gaurav Koley
