doctype html
html(lang='en')
  head
    block title
      title Exclamations!
    link(rel='stylesheet' href='public/bulma.css')

    style.
      h1 {
        margin-bottom: 20px;
      }
  body.container
    block content
